
nav {
    background-color: var(--color-dark);
    color: var(--color-bg-light);
    padding: var(--spacing-small);
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

nav a {
    color: var(--color-bg-light);
    padding: var(--spacing-small);
    display: block;
    transition: background-color 0.3s ease;
}

