
.recomendados-section {
    display: none; 
    max-width: 1200px;
    margin: var(--spacing) auto;
    padding: var(--spacing);
    background-color: var(--color-bg-light);
    border-radius: var(--border-radius);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.recomendados-section h2 {
    font-size: 38px;
    color: var(--color-dark);
    margin-bottom: var(--spacing);
    text-align: center;
}

.recomendados-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--spacing);
}

.recomendados-container .evento {
    background-color: var(--color-bg);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.recomendados-container .evento img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.recomendados-container .evento h3 {
    font-size: 24px;
    margin: 10px;
}

.recomendados-container .evento h3 a {
    color: var(--color-dark);
    text-decoration: none;
    transition: color 0.3s ease;
}

.recomendados-container .evento h3 a:hover {
    color: var(--color-primary);
}

.recomendados-container .evento p {
    font-size: 16px;
    margin: 0 10px 10px;
    color: var(--color-text);
}

.recomendados-overlay {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 200 0px;
    height: 10 6px;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 1000;

    
}

.recomendados-overlay:hover {
    transform: scale(1.2);
}