
:root {
    --color-bg-light:#f4f4f4;
    --border-radius: 5px;
    --spacing: 20px;
}
aside.recomendados {

    width:100%;
    background-color: var(--color-bg-light);
    border-radius: var(--border-radius);
    padding: var(--spacing);
}
aside.recomendados h2 {
    margin-bottom: var(--spacing);
}

@media (min-width: 992px) {
    aside.recomendados {
    width: 25%;
    margin-top: 0; 
    }
}