h2, h3 {
  font-weight: bold;
  position: relative;
  font-size: 25px;
}

h2,h3 {
  padding: 10px;
  margin: 5px;
  list-style: none;
}

h2::before, h3::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0; 
  background: #da60b173;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

h2:hover::before, h3:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}