.container {
  height: 100%;
  width: 100%;
  justify-content: left;
  display: flex;
  padding: 15px;
  margin: 10px;
}
.text,.text2 {
  font-weight: bold;
  font-size: 38px;
  color: #050505;
}
.dud {
  color: #757575;
}